div[id*='EX1'], div[id*='EV1'], div[id*='WET'] {
    /* -webkit-user-select: none; */
    /* -khtml-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none !important; */
    color: grey;
    opacity: 0.5;
}

#disc {
  /* -webkit-user-select: none; */
    /* -khtml-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none !important; */
    style: 'float:left';
    color: grey;
    opacity: 0.5;
    font-size: 18px;
}

/* div[id*='F'] {
  /* -webkit-user-select: none; */
  /* -khtml-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none !important; */
  /* color: white; */
  /* opacity: 1; */
/* } */

/* div[id='CD'] {
  /* -webkit-user-select: none; */
  /* -khtml-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none !important; */
  pointer-events: none;
  color: grey;
  opacity: .5;
}  */

/*main look*/

.fixtures, .shielding, .led {
  border-left: 3px solid black;
  /*padding: 15px;*/
}

section > p {
  font-weight: bold;
}

.fixtures > article, .shielding > article, .led > article {
  padding-left: 15px;
}

.outputSection {
  border-left: 6px solid black;
}

p {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

button {
  background-color: white;
  color: #black;
  border-color: black;
}

/*style and animate CSS*/

input:focus, input {
  /*outline: none !important;*/
  /*outline-style: none !important;*/
  /*box-shadow: none !important;*/
  border-color: transparent !important;
  /*border: solid 2px transparent !important;*/
}

input {
  border-bottom: solid 1px grey !important;
}

@keyframes cursor {
    from {background-color: black;}
    to {background-color: white;}
    from {background-color: white;}
    to {background-color: black;}
}

.hover:hover {
  background-color: black;
  color: white;
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

button:hover {
  background-color: black;
  color: white;
}

.selected {
  background-color: black;
  color: white;
  border-radius: 5px;
}

.outputCard {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

article.outputCard > div.catolog {
  font-weight: bolder;
  font-size: 18px;
}

article.outputCard > div > span {
  font-weight: bold;
}

.directMin, .indirectMin {
  border-bottom: 1px solid black;
}

.remove, .catolog {
  margin-top: 10px;
}
/* materialize styling */

  /* label color */
  .input-field label {
    color: #000;
  }
  /* label focus color */
  .input-field input[type=number]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=number].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  /*.input-field input[type=number].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }*/
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }

  .switch label input[type=checkbox]:checked+.lever {
    background-color: grey;
  }

  .switch label input[type=checkbox]:checked+.lever:after {
    background-color: black;
  }

/* */
